<section>
         <div class="career-top-banner-head">
            <h1>Career</h1>
            <h3> We are an
               Award Winning Workplace
            </h3>
         </div>
         <div class="container">
            <div class="">
               <!-- Nav tabs -->
               <div class="card">
                  <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Opening</a></li>
                     <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Why Rise Agro</a></li>
                     <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Life @ Rise Agro</a></li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content con-for-career-tabs">
                     <div role="tabpanel" class="tab-pane active" id="home">
                        <p>Interested to be a part of the Rise Agro Infra team but cannot find a suitable opening below?<br>
                           <a class="send-resume" href="contact.html">Click here</a> to submit your resume. 
                        </p>
                        <div class="requirment-detail">
                           <div class="panel-group" id="accordion-cat-1">
                              <div class="panel panel-default panel-faq">
                                 <div class="panel-heading">
                                    <a class="head-for job-req" data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-1">
                                       <h4 class="panel-title">
                                          <lable>Front End/UI Developer</lable> &nbsp;&nbsp;&nbsp;  <lable>Web Designer</lable>&nbsp;&nbsp;&nbsp;  <lable>1 Year Experie</lable>
                                          <span class="pull-right drop-n-show-requi"><i class="glyphicon glyphicon-plus"></i></span>
                                       </h4>
                                    </a>
                                 </div>
                                 <div id="faq-cat-1-sub-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <div class="row text-left">
                                          <div class="col-md-12">
                                             <!--<div class="row ">
                                                <div class="col-md-3 text-left">Location:</div>
                                                <div class="col-md-5 text-left"></div>
                                                <div class="col-md-4"></div>
                                                </div>-->
                                             <div class="row info-for-requirment-row">
                                                <div class="col-md-3 text-left">Qualification:</div>
                                                <div class="col-md-5 text-left">BE/ B. Tech/ MCA</div>
                                                <div class="col-md-4"></div>
                                             </div>
                                             <div class="row info-for-requirment-row">
                                                <div class="col-md-3 text-left">Experience:</div>
                                                <div class="col-md-5 text-left">1 Year </div>
                                                <div class="col-md-4"></div>
                                             </div>
                                             <div class="row info-for-requirment-row">
                                                <div class="col-md-3 text-left">Technology:</div>
                                                <div class="col-md-5 text-left"> HTML, CSS3, Illustrator, Dreamweaver, Corel Draw, Web Design etc</div>
                                                <div class="col-md-4"></div>
                                             </div>
                                             <div class="row info-for-requirment-row">
                                                <div class="col-md-3 text-left">Role/Skills</div>
                                                <div class="col-md-8 text-left">
                                                   <ul>
                                                      <li> Build reusable code for future use </li>
                                                      <li>Ensure the technical feasibility of UI/UX designs </li>
                                                      <li>Optimize application for maximum speed and scalability </li>
                                                      <li>Assure that all user input is validated before submitting to back-end </li>
                                                      <li>Collaborate with other team members and stakeholders </li>
                                                      <li>Able to work on Tight Deadlines </li>
                                                      
                                                       
                                                   </ul>
                                                </div>
                                                <div class="col-md-1"></div>
                                             </div>
                                             <div class="row">
                                                <div class="col-md-3 text-left"></div>
                                                
                                               Email : risedigitech@gmail.com
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                             
                              <div class="panel panel-default panel-faq">
                                 <div class="panel-heading">
                                    <a class="head-for job-req" data-toggle="collapse" data-parent="#accordion-cat-1" href="#faq-cat-1-sub-2">
                                       <h4 class="panel-title">
                                          <lable>Urgent Openings For Freshers(BE/ B. Tech/ MCA)</lable> &nbsp;&nbsp;&nbsp; 
                                          <span class="pull-right drop-n-show-requi"><i class="glyphicon glyphicon-plus"></i></span>
                                       </h4>
                                    </a>
                                 </div>
                                 <div id="faq-cat-1-sub-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                       <ul>
                                          <li> Should have basic Knowledge of OOPS</li>                                             
                                                       
                                       </ul>
                                    </div>
                                    <div class="row">
                                                <div class="col-md-3 text-left"></div>
                                                
                                               Email : risedigitech@gmail.com
                                             </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div role="tabpanel" class="tab-pane" id="profile">
                         <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                           <div class="text-why-rise">
                                             <h3 style="font-family: initial;">Shinebrandseeds</h3>
                                             <p style="font-weight: initial;">Shine brand is one of the leading manufacture, wholesaler and exporter of Hybrid Vegetable and field crops seeds.These are availble in market at reasonable rates. We are is among the leading manufacturers & Exporters of Vegitable Seeds in Madhya Pradesh INDIA. We aim to become the leader of hybrid vegetable and field crop seeds in India</p>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                           <div class="img-why-rise">
                                              <img src="../assets/other/shine-d910075bab9314d73c3fe484ce05ea7b7fca94e2830b9c38c9c80dcab3584276.png" style="height: 200px; width: 400px;">
                                           </div>
                                        </div>
                          </div>

                           <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                           <div class="img-why-rise">
                                              <img src="../assets/other/dhakar-4ce20875138bd3f0bcf0ca4ecf5fda218034b9145e8a8deeb3a97add3552f2c9.jpg" style="width: 501px; height: 201px;"">
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                           
                                           <div class="text-why-rise">
                                             <h3 style="font-family: initial;">Dhakar Matrimonial</h3>
                                             <p style="font-weight: initial;">Dhakar Matrimonial is one of the leading and most trusted matrimony websites in India. Dhakar Matrimonial understands the importance of choosing the right partner for marriage, especially in the Indian cultural setup. It believes in providing the most secure and convenient matchmaking experience to all its members by ensuring 100% screening, exclusive privacy options, photo protection features and verification of phone numbers and more information. While the online matrimonial site connects millions of people directly.. </p>
                                           </div>
                                        </div>
                          </div>

                           <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                           <div class="text-why-rise">
                                             <h3 style="font-family: initial;" >Legal Properties</h3>
                                             <p style="font-weight: initial;">Our working area is mainly in Madhya Pradesh. We have our project in Neemuch Disctrict and Indore MP area. You cantact for plot, Flat, Row houses and Banglow. We are here to provide you best service in real estate. Our aim to bestablis in golbal market and provide best property according to your rrequirement.</p>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                           <div class="img-why-rise">
                                              <img src="../assets/other/Property-2229b4bdffc97e2acc4aab743695d6a0c94aaaa2c53250c1b96cacae3e2dfbb8.png" style="height: 280px;"
                                           </div>
                                        </div>
                          </div>

                          <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                           <div class="img-why-rise">
                                              <img src="../assets/it/logo-6b04ffd789a13f83d8043a9ab015d3055fb476afb2d8a0128be7cdd0351dfb94.png" style="height: 200px;" >
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                           
                                           <div class="text-why-rise">
                                             <h3 style="font-family: initial;">Risedigitech</h3>
                                             <p style="font-weight: initial;">We have added this service for information technology. Stared work for website developent in diffrent technologies, Andriod application and iOS application. If you want to digitalize your business we are here to give you best service. We develop and design your requirements. </p>
                                           </div>
                                        </div>
                          </div>
                     </div>
                      </div>
                     <div role="tabpanel" class="tab-pane" id="messages">
                       <h3>

                         Work and fun co-exist at Rise Agro.<br> Our technologists take time off work to engage in various activities.
                       </h3>
                       <p>
                         Rise Agro Infra indore is an emerging global oleochemical company with leadership in the castor-based specialty chemicals industry. With proven research capabilities, strict adherence to stringent quality controls conforming to International Standards and flawless record of honoring delivery schedules it is no wonder that Rise Agro Infra indore is the preferred partner of choice worldwide for sourcing of castor oil and castor oil derivatives. With the long-term approach we have adopted to the industry it is no wonder that we balance your requirement equations not only chemically but also economically.
                         Our aim is to develop lead in hybrid grain and vegetable seeds business in India with best services and high quality seeds which produce high yield and have high resistance towards diseases and are suitable for different environments and climatic conditions. Our goal is to develop the best hybrid of grain and vegetable seeds to achieve maximum yeild.
                       </p>
                     </div>
                 
               </div>
            </div>
         </div>
      </section>

    