<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner slider-mainat-fron">
				<div class="item active" style="background-image: url(../assets/contruction/1-cd80c2d89889287a1103e36b349a98e1d5d0dfeb7fddc9403019bc75c3fd0a5c.jpg)"> 
				 
 -->				</div>
				<div class="item" style="background-image: url(../assets/contruction/2-9b7669f77c3a7fbd6ed9db9e8e918e59c41046875c967477207f1de07b6420d9.jpg)"> 
					 
				</div> 
					<div class="item" style="background-image: url(../assets/contruction/3-f935fd23fdeb63d0c4a94b440d8c9cf6991126daff3c33f546bce1f59918ba62.jpg)"> 
				 
			</div>

				
			</div> 
		
			
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->

<div class="contain-wrapp padding-bot60">	
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="title-head centered">
						<h4>Who we are</h4>
						<p>Inspired is powerful, beautiful, and fully responsive Bootstrap template</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="custom-tabs icon" data-effect-in="bounceInDown">
						<ul class="nav nav-tabs" role="tablist">
							<li class="active">
								<a href="#first2" data-toggle="tab" aria-expanded="true"><i class="fa fa-rocket"></i> Startup</a>
							</li>
							<li class="">
								<a href="#second2" data-toggle="tab" aria-expanded="false"><i class="fa fa-gears"></i> Mission</a>
							</li>
							<li class="">
								<a href="#third2" data-toggle="tab" aria-expanded="false"><i class="fa fa-cloud"></i> Philosophy</a>
							</li>
							<li class="">
								<a href="#fourth2" data-toggle="tab" aria-expanded="false"><i class="fa fa-flask"></i> Target</a>
							</li>
						</ul>
					 
						<!-- Tab panes -->
						<div class="tab-content">
							<div class="tab-pane fade animated bounceInDown active in" id="first2">
								<p>
								We have added this service for information technology. Stared work for website developent in diffrent technologies, Andriod application and iOS application. If you want to digitalize your business we are here to give you best service.
								</p>
							</div>
							<div class="tab-pane fade animated" id="second2">
								<p>
								we are team of Business Analysts, Project Evangelist, Designers, Developers and QAs well versed with bleeding edge technologies, tools and best practices. We began our operations in 2007 with the vision to become an organization that develops partnerships with its clients and adds values to the product.
								</p>
							</div>
							<div class="tab-pane fade animated" id="third2">
								<p>
								We aim to become the leader of Inforation technology world. Innovative high quality products and best services from our teamwork. Become best serive provider in IT Sector for website and App development.
								</p>
							</div>
							<div class="tab-pane fade animated" id="fourth2">
								<p>
								Ex pro vitae maiestatis. Scripta honestatis ad mel, ei alterum detracto consectetuer mea. Erant graecis quo ut, no est minim saperet. An ridens nominati definitionem sed, sit eu appareat qualisque, corpora dissentiunt mea ex. Quot nonumy interpretaris ne ius, quo quod consequat reprimique at. Pri saperet offendit menandri at. Sit et deleniti aliquando. Quis viris dolorem te sed eu lorem aeque viderer eos.

								</p>
							</div>
						</div>
					</div> 
				</div>
			</div>

		</div>
    </div>
    <div class="contain-wrapp gray-container padding-bot50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="title-head centered">
						<h4>Meet our team</h4>
						<p>Inspired supported by a team of professionals with experience of more than a decade</p>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start Team 01 -->
                    <div class="wrap-team">
                        <svg viewBox="0 0 100 100">
                          <defs>
                            <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
                              <image xlink:href="images/img02.jpg" x="-25" width="150" height="100"/>
                            </pattern>
                          </defs>
                          <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img1)"/>
                        </svg>
                        <div class="content">
                            <h5 class="name">
                                Angling darma
                                <small>CO-Founder</small>
                            </h5>
                            <p>
                                Per in purto noster officiis, ferri accusam detraxit no duo vidit vivendum.
                            </p>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram icon-circle fa-primary"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Team 01 -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start Team 02 -->
                    <div class="wrap-team">
                        <svg viewBox="0 0 100 100">
                          <defs>
                            <pattern id="img2" patternUnits="userSpaceOnUse" width="100" height="100">
                              <image xlink:href="images/img02.jpg" x="-25" width="150" height="100"/>
                            </pattern>
                          </defs>
                          <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img2)"/>
                        </svg>
                        <div class="content">
                            <h5 class="name">
                                Loro jongrang
                                <small>Asistance</small>
                            </h5>
                            <p>
                                Per in purto noster officiis, ferri accusam detraxit no duo vidit vivendum.
                            </p>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram icon-circle fa-primary"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Team 02 -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start Team 03 -->
                    <div class="wrap-team">
                        <svg viewBox="0 0 100 100">
                          <defs>
                            <pattern id="img3" patternUnits="userSpaceOnUse" width="100" height="100">
                              <image xlink:href="images/img02.jpg" x="-25" width="150" height="100"/>
                            </pattern>
                          </defs>
                          <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img3)"/>
                        </svg>
                        <div class="content">
                            <h5 class="name">
                                Ken dedes
                                <small>Marketing</small>
                            </h5>
                            <p>
                                Per in purto noster officiis, ferri accusam detraxit no duo vidit vivendum.
                            </p>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram icon-circle fa-primary"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Team 03 -->
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <!-- Start Team 04 -->
                    <div class="wrap-team">
                        <svg viewBox="0 0 100 100">
                          <defs>
                            <pattern id="img4" patternUnits="userSpaceOnUse" width="100" height="100">
                              <image xlink:href="images/img02.jpg" x="-25" width="150" height="100"/>
                            </pattern>
                          </defs>
                          <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img4)"/>
                        </svg>
                        <div class="content">
                            <h5 class="name">
                                Aria kamandanu
                                <small>Designer</small>
                            </h5>
                            <p>
                                Per in purto noster officiis, ferri accusam detraxit no duo vidit vivendum.
                            </p>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter icon-circle fa-primary"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram icon-circle fa-primary"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Team 04 -->
                </div>
			</div>
		</div>
	</div>

 
		
         