<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner slider-mainat-fron">
				<div class="item active" style="background-image: url(../assets/import/1-0d9e5d78d9d135d4b0a6a31f3597daaa804e93efd94390e08f882a2d68da20ce.jpg)"> 
				 
 				</div>
				<div class="item" style="background-image: url(../assets/import/2-a0727b9853971f8ab8907fb2b805d86af3a803d749275083d83bf03da25c7ecb.jpg)"> 
					 
				</div> 
					<div class="item" style="background-image: url(../assets/import/3-0e053d2ebadd755f0791a704a23fa85ef25a8af5947519107aa1b68003871870.jpg)"> 
				 
			</div>
			</div> 
		
			
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->




    <div class="contain-wrapp padding-bot50">	
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="title-head centered">
						<h4>Who we are</h4>
						<p>Inspired is powerful, beautiful, and fully responsive Bootstrap template</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/shine2-c5da556c15742e814a89d798802911be3c731a5382b56bd1ac957a621a46baa4.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-briefcase fa-3x icon-circle fa-default"></i>
							<h5>Solid team</h5>
							<p>
							Ea sea veniam perpetua, ei pro saepe melius. Ex sea summo maluisset. Sit ad adhuc illum epicurei, congue partem qui ne his ad utamur indoctum.
							</p>
							<p><a href="#" class="btn btn-default btn-sm">Learn more</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/shine3-1ccc2a54401b00c1cce0c129171b6cb0399e4482672040dc1db1f4627e97a536.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-headphones fa-3x icon-circle fa-primary"></i>
							<h5>Best Service</h5>
							<p>
							Solet praesent et mei. Veniam repudiandae eam eu, ex ius vide etiam dicit. Amet aliquip intellegebat ea pri, oratio sensibus nec id usu vocent.
							</p>
							<p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/shine4-ddeb13f92024e9a81ff272d991f3967d27035764650f26eaf2c83dd4f45d3c0d.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-flask fa-3x icon-circle fa-default"></i>
							<h5>High loyalty</h5>
							<p>
							Consul dicunt ne mei, usu mutat oporteat senserit ut. Diam cetero audire ex est, sea eu novum choro. Ne fugit noster latine mea  sale apeirian.
							</p>
							<p><a href="#" class="btn btn-default btn-sm">Learn more</a></p>
						</div>
					</div>
				</div>
			</div>

			
		</div>
	</div>


		

