<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
				<li data-target="#main-carousel" data-slide-to="3"></li>
				<li data-target="#main-carousel" data-slide-to="4"></li>
				<li data-target="#main-carousel" data-slide-to="5"></li>
				<li data-target="#main-carousel" data-slide-to="6"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner slider-mainat-fron">
				<div class="item active" style="background-image: url(../assets/slide3.jpg)"> 
					<div class="carousel-caption"> 
						<div> 
							<h2 class="heading animated bounceInDown">Welcome to Rise Agro Infra Pvt. Ltd.</h2> 
							<p class="animated bounceInUp">Your Prosperity</p> 
							<a class="btn btn-default slider-btn animated fadeIn" href="<%= root_path%>">Get Started</a> 
						</div> 
					</div> 
				</div>
				<div class="item" style="background-image: url(../assets/shine/4.jpg)"> 
					<div class="carousel-caption"> <div> 
						<h2 class="heading animated bounceInDown">Introducing Shine Brand Seeds</h2> 
						<p class="animated bounceInUp">Everything is outstanding </p> <a class="btn btn-default slider-btn animated fadeIn" href="http://www.shinebrandseeds.com" target="_blank">Get Started</a> 
					</div> 
				</div> 
			</div> 
			<div class="item" style="background-image: url(../assets/matrimonial/s2.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Dhakar Matrimonial</h2> 
						<p class="animated bounceInLeft"></p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="http://www.dhakarmatrimonial.com" target="_blank">Get Started</a> 
					</div> 
				</div> 
			</div>
			<div class="item" style="background-image: url(../assets/slide4.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Developing the Virtual world- Risedigitech</h2> 
						<p class="animated bounceInLeft">Accept challenges and change. Believe in hard work and deliver on time.</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="http://www.risedigitech.com" target="_blank">Get Started</a> 
					</div> 
				</div> 
			</div>
			<div class="item" style="background-image: url(../assets/import_export/3.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Import & Export </h2> 
						<p class="animated bounceInLeft">Mission to establish in golbal Market</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#">Get Started</a> 
					</div> 
				</div> 
			</div>
				<div class="item" style="background-image: url(../assets/property/4.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Legal Properties</h2> 
						<p class="animated bounceInLeft">"Apke budget me" We help to find dream home</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#" target="_blank">Get Started</a> 
					</div> 
				</div> 
			</div>
			<div class="item" style="background-image: url(../assets/contruction/2.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">Construction Work</h2> 
						<p class="animated bounceInLeft">Do best construction of your planning</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="#" target="_blank">Get Started</a> 
					</div> 
				</div> 
			</div>
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->

<section id="about-us">
	<div class="container">
		<div class="text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="title-one">Why With Us?</h2>
				<p>Rise Agro Infra indore is An ISO 9001:2008 Certified Company. Rise Agro Infra is among the leading manufacturers & Exporters of Vegitable Seeds in Madhya Pradesh INDIA. We provide best employment, a well qualified and experience team for work in each field. Honesty and Integrity. We always ready to accept challenges. Responsible and disciplined, service oriented team. We believe in hard work. Ready to change with time and accept new technology.</p>
			</div>
		</div>
		<div class="about-us">
			<div class="row">
				<div class="col-sm-6">
					<h3>Why with us?</h3>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> About</a></li>
						<li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Mission</a></li>
						<li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Vision</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="about">
							<div class="media">
								<img class="pull-left media-object" src="../assets/about.jpg" alt="about us"> 
								<div class="media-body">
									<p>We at Rise Agro Infra serve in different fields. Develop hybrid grain and vegetable seeds. Matrimonial services for Dhakar Community. You can find your dream home with us as our legal properties services. We provide information technologies services as Risedigitech, construction work in real estate. We doing import and export. </p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="mission">
							<div class="media">
								<img class="pull-left media-object" src="../assets/mission.jpg" alt="Mission"> 
								<div class="media-body">
									<p>Our mission is to develop high quality vegetables seeds. Give best services to Dhakar community people with matrimonial to find best match. Construction of home, buildings and roads. Give best services of information technologywith Risedigitech. Establish in global market for import and export. </p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="community">
							<div class="media">
								<img class="pull-left media-object" src="../assets/community.jpg" alt="Community"> 
								<div class="media-body">
									<p>We aim to become the leader of hybrid vegetable and field crop seeds in India. Innovative high quality products and best services from our teamwork to Dhakar Community for matrimony. Become best serive provider in IT Sector for website and App development. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3>Our Skills</h3>
					<div class="skill-bar">
						<div class="skillbar clearfix " data-percent="90%">
							<div class="skillbar-title">
								<span>Social Responsibility</span>
							</div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">90%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix" data-percent="85%">
							<div class="skillbar-title"><span>Employment</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">85%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="70%">
							<div class="skillbar-title"><span>Quality</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">70%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="60%">
							<div class="skillbar-title"><span>Safty</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">60%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="75%">
							<div class="skillbar-title"><span>Services</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">75%</div>
						</div> <!-- End Skill Bar --></div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#about-us-->



					<section id="clients" class="parallax-section">
						<div class="container">
							<div class="clients-wrapper">
								<div class="row text-center">
									<div class="col-sm-8 col-sm-offset-2">
										<h2 class="title-one">Clients Say About Us</h2>
									</div>
								</div>
								<div id="clients-carousel" class="carousel slide" data-ride="carousel"> <!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#clients-carousel" data-slide-to="0" class="active"></li>
										<li data-target="#clients-carousel" data-slide-to="1"></li>
										<li data-target="#clients-carousel" data-slide-to="2"></li>
									</ol> <!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="single-client">
												<div class="media">
													<img class="pull-left" src="../assets/testimonial/nitin.jpg" alt="" style="height: 150px; width: 150px;">
													<div class="media-body">
														<blockquote><p>"I wish to give thanks and express my appreciation to the dhakar matrimonial team providing an awesome site that facilities spiritual people meeting..."</p><small>Nitin Sanghavi, Sanghavi Traders Ratlam(MP)</small></blockquote>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="single-client">
												<div class="media">
													<img class="pull-left" src="../assets/testimonial/sunil_goyal.jpg" alt="" style="height: 150px; width: 150px;">
													<div class="media-body">
														<blockquote><p>"In the field of seeds and agriculture Rise Agro Infra team did a great job. They are able to do it faster, better and cheaper.".</p><small>Sunil Goyal Annapurna Agro Sales, Indore(MP)</small></blockquote>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="single-client">
												<div class="media">
													<img class="pull-left" src="../assets/testimonial/sunil_haw.jpg" alt="" style="height: 150px; width: 150px;">
													<div class="media-body">
														<blockquote><p>"These people have helped us finding a perfect home. They had worked really hard..."</p><small>Sunil Hawadiya,Sunil Agro Sales Shajapur</small><</blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section><!--/#clients-->

		
        
