<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner slider-mainat-fron">
				<div class="item active" style="background-image: url(../assets/property/1-9ef35be4524371a3f6f98992e89b93198f938339e7dd75b85f8edc3ace90d538.jpg)"> 
				 
 -->				</div>
				<div class="item" style="background-image: url(../assets/property/2-360261d9b45662ac0c89cd00ac14ce2845d03484ccebea7d619b0e361848c623.jpg)"> 
					 
				</div> 
					<div class="item" style="background-image: url(../assets/property/3-1a1cf50869747cbed0fb928679359c3af2508c48304e32efa0556886fdd15671.jpg)"> 
				 
			</div>

			</div> 
		
			
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->


     <section>


          

    	<div class="container">
    		<div class="row">
				<div class="col-md-6">
					<div class="title-head">
						<h4>Who we are</h4>
						<p>We are property agent located in India and experienced more than a decade</p>
					</div>
					<p>
					Our working area is mainly in Madhya Pradesh. We have our project in Neemuch Disctrict and Indore MP area. You cantact for plot, Flat, Row houses and Banglow. We are here to provide you best service in real estate.
					</p>
					<p><a href="#" class="btn btn-primary">View gallery</a> <a href="#" class="btn btn-default btn-bordered">Get in touch</a></p>
				</div>
				<div class="col-md-6">
					<!-- Start video wrapp -->
                    <div class="video-wrapper">
                        <div class="play-icon small"><a href="#"><i class="fa fa-play"></i></a></div>
                        <img src="https://www.youtube.com/watch?v=r_wcKeaR9zM" class="img-responsive" alt="">
                       <!--  <div id="video1" class="jp-jplayer video" data-media="video" data-title="Big Buck Bunny" data-m4v="video/idea.m4v" data-ogv="video/idea.ogv" data-webmv="video/idea.webm" data-container="#jp_container2" style="width: 480px; height: 335px;"><img id="jp_poster_0" style="width: 480px; height: 335px; display: none;"><video id="jp_video_0" preload="metadata" style="width: 0px; height: 335px;" src="http://99webpage.com/theme-review/html/inspired/video/idea.webm" title="Big Buck Bunny"></video></div> -->
                        <div id="jp_container2" class="jp-audio jp-video-270p">
                            <table class="table-audio">
                                <tbody><tr>
                                    <td class="toggle-play">
                                        <a href="#" class="jp-play"><i class="fa fa-play-circle"></i></a>
                                        <a href="#" class="jp-pause" style="display: none;"><i class="fa fa-pause"></i></a>
                                    </td>
                                    <td class="time"><span class="jp-current-time">00:00</span></td>
                                    <td class="Progres-audio">
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar" style="width: 100%;">
                                                <div class="jp-play-bar" style="width: 0%;"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="time"><span class="jp-duration">-03:53</span></td>
                                    <td class="toggle-mute">
                                        <a href="#" class="jp-unmute" style="display: none;"><i class="fa fa-volume-up"></i></a>
                                          <a href="#" class="jp-mute"><i class="fa fa-volume-down"></i></a>
                                    </td>
                                    <td class="volume-bar">
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value" style="width: 80%;"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody></table>
                            <div class="jp-no-solution" style="display: none;">
                                <strong>Update Required</strong>
                                To play the media you will need to either update your browser to a recent version or update your <a href="#" target="_blank">Flash plugin</a>.
                            </div>
                        </div>  
                    </div>
                    <!-- End video wrapp -->
				</div>
			</div>
    	</div>
    	<div class="container">
    	<br><br>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title-head centered">
						<h4>What we do</h4>
						<p>Providing the best service in every transaction is our commitment to doing business</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/img01-70f161de181c35c8532ba715d1d10df621dd5a7d8db1caea78e454a6c73c8863.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-briefcase fa-3x icon-circle fa-default"></i>
							<h5>Solid team</h5>
							<p>
							We have solid team  for provide services in different area across Madhya Pradesh. Our team have experienced members.
							</p>
							<!-- <p><a href="#" class="btn btn-default btn-sm">Learn more</a></p> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/img02-18136576b6d9f603084862f2c400a47780af23769877ba49c02d16b1b76a164a.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-headphones fa-3x icon-circle fa-primary"></i>
							<h5>Best Service</h5>
							<p>
							Ensure a steady stream of business throughout the year with a guaranteed number of exclusive leads delivered straight to you.
							</p>
							<!-- <p><a href="#" class="btn btn-primary btn-sm">Learn more</a></p> -->
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/img03-415d6e3177023324f9ce5ade189a8edf3d02a7917b4a480c8c2d777273a1dea1.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-flask fa-3x icon-circle fa-default"></i>
							<h5>High loyalty</h5>
							<p>
							In this company we focus on customer loyalty, if only one person keeps coming in those doors each year.
							</p>
							<!-- <p><a href="#" class="btn btn-default btn-sm">Learn more</a></p> -->
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>


		
     

