<section id="portfolio">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="title-one">Portfolio</h2>
				<p>We provide best employment, a well qualified and experience team for work in each field. Honesty and Integrity. We always ready to accept challenges. Responsible and disciplined and service oriented team. We believe in hard work. Ready to change with time and accept new technology</p>
			</div>
		</div>
		<ul class="portfolio-filter text-center">
			<li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
			<li><a class="btn btn-default" href="" data-filter=".html">Matrimonial</a></li>				
			<li><a class="btn btn-default" href="#" data-filter=".joomla">Shine Brand</a></li>
			<li><a class="btn btn-default" href="#" data-filter=".megento">Legal Properties</a></li>
			<li><a class="btn btn-default" href="#" data-filter=".wordpress">IT Services</a></li>
		</ul><!--/#portfolio-filter-->
		<div class="portfolio-items">
			<div class="col-sm-3 col-xs-12 portfolio-item html">
				<div class="view efffect">
					<div class="portfolio-image">
						<img src="../assets/shine/sh3-f88b7116007bd83bb70b809a480987306a106d6c37f593d7f6834cdead1ed601.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Riseagro</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/shine/sh4-c3295c08d8b1ccfc8b0097e1307f75fea0e61a798ab0461f410ef28b2c8c7a61.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item jooma">
				<div class="view efffect" >
					<div class="portfolio-image">
						<img src="../assets/shine/sh5-5af953afa134ac5cac24df2fc231622fca5ba07103d75f733c5ce4760474b798.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Rise Agro Infra</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/shine/sh6-1da1a841b0e9eb50d0f576ccc62c0d2ea827dd6c5bbd2a03d3321bbfcf4080d4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
				<div class="view efffect">
					<div class="portfolio-image">
						<img src="../assets/shine/sh7-6469f89972881afa82d72e82c9767e21776fa791aeabe8a9e65cc87f83e47d8c.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Riseagro</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/shine/sh8-d3ae5735e6e43655abb2c88d93f7a1f66498d548c812fd51e3652d27bf87119d.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/4-6cb6ea165df8b94a5286d5c89ea57ab3c9c539e504df4f10809dd9c8f9482716.jpg" alt="">
			</div> 
			<div class="mask text-center">
				<h3>Riseagro</h3>
				<h4>Riseagroinfra Pvt Ltd</h4>
				<a href="#"><i class="fa fa-link"></i></a>
				<a href="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 portfolio-item html">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/matrimonial/5-9481cbae85f76e254ade7c04d9c3a6cc8eed1528ee13747a83e239e6b8ee6d83.jpg" alt="">
			</div> 
			<div class="mask text-center">
				<h3>Parichay Sammelan</h3>
				<h4>Lorem ipsum dolor sit amet consectetur</h4>
				<a href="#"><i class="fa fa-link"></i></a>
				<a href="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		    </div>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/matrimonial/6-b6cbe725d6c2887292fcbb8c18bfec3c5e6d898950ad219dc0e6d36fbefc9f99.jpg" alt="">
			</div> 
			<div class="mask text-center">
				<h3>Parichay Sammelan</h3>
				<h4>Lorem ipsum dolor sit amet consectetur</h4>
				<a href="#"><i class="fa fa-link"></i></a>
				<a href="../assets/matrimonial/1.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
			</div>
		</div>
	</div>
<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/8-d21442e9f75ea02cda66462bcc57110fc55d282ab6be61b9500e95e30f7fc9b3.jpg" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan</h3>
		<h4>Indore Parichay Sammelan 2015</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/9-0e5e1a986213d6ea3044e00a53bb7b40d1904d1c3157ecc8d6d141997cc88691.jpg" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan</h3>
		<h4>Indore Parichay Sammelan 2015</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/big-item-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/1-ba7dafe566789a221dd929c83a6c63ecd65aa4bf82d30b190aad1db84c9e0d83.jpg" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan</h3>
		<h4>Indore Parichay Sammelan 2015</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/big-item-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/8-c682e15c8e5634e85f188d49fe495c8927f4663f56b327d89ccc900966eae08d.JPG" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan</h3>
		<h4>Indore Parichay Sammelan 2015</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.JPG" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan</h3>
		<h4>Indore Parichay Sammelan 2015</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/15-6063040cca0725e137c2588493976e954ad73497d07c6342849e03f05c58a0d4.JPG" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Novel</h3>
		<h4>Lorem ipsum dolor sit amet consectetur</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/28-fd0f3757ca761d5bbc797611ab0f7f47fb7d6300b7fa04efd2ce4f9bb775edfa.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/6-7f9227c8b77718ba981b234a9dcee7f54eb4f969c1e2533e0e02beac96fc5e8b.JPG" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Novel</h3>
		<h4>Lorem ipsum dolor sit amet consectetur</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/28-fd0f3757ca761d5bbc797611ab0f7f47fb7d6300b7fa04efd2ce4f9bb775edfa.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item joomla">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/shine/shine-ceea0c3617138e19f81934766ae8b465b7522a628c0bea6433c1d6e513bbe275.jpg" alt=""></div> 
		<div class="mask text-center">
			<h3>Novel</h3>
			<h4>Lorem ipsum dolor sit amet consectetur</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/shine/sh5-5af953afa134ac5cac24df2fc231622fca5ba07103d75f733c5ce4760474b798.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
	<div class="view efffect">
		<div class="portfolio-image">
			<img src="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" alt="">
		</div> 
		<div class="mask text-center">
			<h3>Novel</h3>
			<h4>Lorem ipsum dolor sit amet consectetur</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/shine/sh6-1da1a841b0e9eb50d0f576ccc62c0d2ea827dd6c5bbd2a03d3321bbfcf4080d4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
	<div class="view efffect">
		<div class="portfolio-image">
			<img src="../assets/shine/sh7-6469f89972881afa82d72e82c9767e21776fa791aeabe8a9e65cc87f83e47d8c.jpg" alt=""></div> 
			<div class="mask text-center">
				<h3>Novel</h3>
				<h4>Lorem ipsum dolor sit amet consectetur</h4>
				<a href="#"><i class="fa fa-link"></i></a>
				<a href="../assets/shine/sh8-d3ae5735e6e43655abb2c88d93f7a1f66498d548c812fd51e3652d27bf87119d.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Novel</h3>
					<h4>Lorem ipsum dolor sit amet consectetur</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/ig-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/123765-bb875afae5c1bc41d43ccdc33e948f484e358c071ece7e928e42cd3f053f051a.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Novel</h3>
						<h4>Lorem ipsum dolor sit amet consectetur</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item html">
	<div class="view efffect">
		<div class="portfolio-image">
			<img src="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" alt="">
		</div> 
		<div class="mask text-center">
			<h3>Novel</h3>
			<h4>Lorem ipsum dolor sit amet consectetur</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
	<div class="view efffect">
		<div class="portfolio-image">
			<img src="../assets/big-item4-8851fb73a0cf415d52227979bcaffeb8e542f797db0c56fe6299999b6f1b0f21.jpg" alt="">
		</div> 
		<div class="mask text-center">
			<h3>Novel</h3>
			<h4>Lorem ipsum dolor sit amet consectetur</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/shine/sh8-d3ae5735e6e43655abb2c88d93f7a1f66498d548c812fd51e3652d27bf87119d.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
</div>
		</div>
	</div> 

</section> <!--/#portfolio-->