<section id="portfolio">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="title-one">Portfolio</h2>
				<p>We provide best employment, a well qualified and experience team for work in each field. Honesty and Integrity. We always ready to accept challenges. Responsible and disciplined and service oriented team. We believe in hard work. Ready to change with time and accept new technology</p>
			</div>
		</div>
		<ul class="portfolio-filter text-center">
			<li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
			<li><a class="btn btn-default" href="" data-filter=".html">Matrimonial</a></li>				
			<li><a class="btn btn-default" href="#" data-filter=".joomla">Shine Brand</a></li>
			<li><a class="btn btn-default" href="#" data-filter=".megento">Legal Properties</a></li>
			<li><a class="btn btn-default" href="#" data-filter=".wordpress">IT Services</a></li>
		</ul><!--/#portfolio-filter-->
		<div class="portfolio-items">
			<div class="col-sm-3 col-xs-12 portfolio-item html">
				<div class="view efffect">
					<div class="portfolio-image">
						<img src="../assets/matrimonial/8-c682e15c8e5634e85f188d49fe495c8927f4663f56b327d89ccc900966eae08d.JPG" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Parichay Sammelan Neemuch 2015</h3>
						<h4>Dhakar Matrimonial Indore</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/matrimonial/rd6-714cea08a193a0a3c53e28f47d04f82eb879c85a5b5e7df2f7cd512a2bc119fe.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item html">
				<div class="view efffect" >
					<div class="portfolio-image">
						<img src="../assets/matrimonial/15-6063040cca0725e137c2588493976e954ad73497d07c6342849e03f05c58a0d4.JPG" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Parichay Sammelan Neemuch 2015</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item html">
				<div class="view efffect" >
					<div class="portfolio-image">
						<img src="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.JPG" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Parichay Sammelan Neemuch 2015</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item html">
				<div class="view efffect" >
					<div class="portfolio-image">
						<img src="../assets/matrimonial/rd1-eedd5d6c986e8dfe6f90442f07c3a9bec1e30c7dd6b7040617924e8ac50d9440.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Parichay Sammelan Bhopal 2017</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
				<div class="view efffect">
					<div class="portfolio-image">
						<img src="../assets/it/it1-0b9b089b4f9b43496973b378ed21c5ab35ced956a022efba6f302ed746d62514.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Risedigitech</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/it/it1-0b9b089b4f9b43496973b378ed21c5ab35ced956a022efba6f302ed746d62514.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
				<div class="view efffect">
					<div class="portfolio-image">
						<img src="../assets/it/it3-ae15ece9da4c5c1dffb66637488e2fa7aeaec1229c21ee4a5068075b416313c3.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Risedigitech</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/it/it3-ae15ece9da4c5c1dffb66637488e2fa7aeaec1229c21ee4a5068075b416313c3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
				<div class="view efffect">
					<div class="portfolio-image">
						<img src="../assets/it/it2-5d7bff52b86ed3da2f76a5c04f1fec574e822960b8f08b95d1ea08dbb48b8fa1.jpg" alt="">
					</div> 
					<div class="mask text-center">
						<h3>Risedigitech</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/it/it2-5d7bff52b86ed3da2f76a5c04f1fec574e822960b8f08b95d1ea08dbb48b8fa1.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/rs7-330cc8439191a3e84bae33341b2a72ac4dc5ade29b5245ce393a02d8696d114a.jpg" alt="">
				</div> 
				<div class="mask text-center">
					<h3>Legal Properties</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/property/rs7-330cc8439191a3e84bae33341b2a72ac4dc5ade29b5245ce393a02d8696d114a.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
	</div>
	<div class="col-sm-3 col-xs-12 portfolio-item html">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/matrimonial/2-1459f6c9b614ffc6d7c5dc04f5bf857fbce23e0c463a1193edb347f1661c4bf5.jpg" alt="">
			</div> 
			<div class="mask text-center">
				<h3>Dhakar Matrimonial</h3>
				<h4>Riseagroinfra Pvt Ltd</h4>
				<a href="#"><i class="fa fa-link"></i></a>
				<a href="../assets/matrimonial/15-6063040cca0725e137c2588493976e954ad73497d07c6342849e03f05c58a0d4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		    </div>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 portfolio-item wordpress">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/it/logo-6b04ffd789a13f83d8043a9ab015d3055fb476afb2d8a0128be7cdd0351dfb94.png" alt="">
			</div> 
			<div class="mask text-center">
				<h3>Risedigitech</h3>
				<h4>Riseagroinfra Pvt Ltd</h4>
				<a href="#"><i class="fa fa-link"></i></a>
				<a href="../assets/it/logo-6b04ffd789a13f83d8043a9ab015d3055fb476afb2d8a0128be7cdd0351dfb94.png" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
			</div>
		</div>
	</div>

<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/rd2-ee9eddd2fe0cd37038bf9987c0ccad1f690bd7f585e143cfcc7aa6af687c705f.jpg" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Dhakar Matrimonial</h3>
		<h4>Riseagroingra Pvt Ltd</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/9-64b8a35ced33d7094302ae3967f3b86960faac0e58926f6a05e83129436d12fd.JPG" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan</h3>
		<h4>Indore Parichay Sammelan 2015</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/dm1-0890bfdc5966f1d6c3a54046d87ea8c8e5c8ab483d62af1643905a37d0c73b1b.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/imageedit_3_7583221845-b7203e018edfd9d38fd31fac14e77b5a4540bd39afdfb770a998208c5c548263.jpg" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Parichay Sammelan Neemuch 2015</h3>
		<h4>Dhakar Matrimonial Indore</h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/rd6-714cea08a193a0a3c53e28f47d04f82eb879c85a5b5e7df2f7cd512a2bc119fe.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/matrimonial/6-7f9227c8b77718ba981b234a9dcee7f54eb4f969c1e2533e0e02beac96fc5e8b.JPG" alt="">
	</div> 
	<div class="mask text-center">
		<h3>Dhakar Matrimonial</h3>
		<h4>Riseagroinfra Pvt Ltd<a/h4>
		<a href="#"><i class="fa fa-link"></i></a>
		<a href="../assets/matrimonial/28-fd0f3757ca761d5bbc797611ab0f7f47fb7d6300b7fa04efd2ce4f9bb775edfa.JPG" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
	</div>
</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item joomla">
<div class="view efffect">
	<div class="portfolio-image">
		<img src="../assets/shine/shine-ceea0c3617138e19f81934766ae8b465b7522a628c0bea6433c1d6e513bbe275.jpg" alt=""></div> 
		<div class="mask text-center">
			<h3>Shinebrandseeds</h3>
			<h4>Riseagroinfra Pvt Ltd</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/shine/sh4-c3295c08d8b1ccfc8b0097e1307f75fea0e61a798ab0461f410ef28b2c8c7a61.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
	<div class="view efffect">
		<div class="portfolio-image">
			<img src="../assets/matrimonial/dm2-c550ca7126b0abf253d22d7bf18e7582d931d4fda356165cf782161d1c1fb26d.jpg" alt="">
		</div> 
		<div class="mask text-center">
			<h3>Dhakar Matrimonial</h3>
			<h4>Riseagroinfra Pvt Ltd</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/shine/sh6-1da1a841b0e9eb50d0f576ccc62c0d2ea827dd6c5bbd2a03d3321bbfcf4080d4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
</div>
	<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/sh8-d3ae5735e6e43655abb2c88d93f7a1f66498d548c812fd51e3652d27bf87119d.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/sh6-1da1a841b0e9eb50d0f576ccc62c0d2ea827dd6c5bbd2a03d3321bbfcf4080d4.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/sh3-f88b7116007bd83bb70b809a480987306a106d6c37f593d7f6834cdead1ed601.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/sh5-5af953afa134ac5cac24df2fc231622fca5ba07103d75f733c5ce4760474b798.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/shi3-b302dc6eca3604e8f754ca05a091a2fc6bc7f6a74383df72fd26642cbbda696d.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/sh4-c3295c08d8b1ccfc8b0097e1307f75fea0e61a798ab0461f410ef28b2c8c7a61.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-3 col-xs-12 portfolio-item joomla">
		<div class="view efffect">
			<div class="portfolio-image">
				<img src="../assets/shine/sh7-6469f89972881afa82d72e82c9767e21776fa791aeabe8a9e65cc87f83e47d8c.jpg" alt=""></div> 
				<div class="mask text-center">
					<h3>Shinebrandseeds</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/re1-d8a4c73c84add792aca3bc9ef819b9300cbdb1c627ddd5546b212a7a7aa2901f.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/re1-d8a4c73c84add792aca3bc9ef819b9300cbdb1c627ddd5546b212a7a7aa2901f.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/re2-795f0bef340a774b97e0760167c4405944da90d89b68beb043d79988ee8ce9a4.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/re2-795f0bef340a774b97e0760167c4405944da90d89b68beb043d79988ee8ce9a4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/re3-a07c3c451052fbbca4215f18cdd31bb1248f0b2a6b49f3bd20d899e36cd1c800.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/re3-a07c3c451052fbbca4215f18cdd31bb1248f0b2a6b49f3bd20d899e36cd1c800.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/re4-c7a16096e63143492a93b1e7d5acf8c839ca33e5b70d551ef35028d3c20f424e.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/re4-c7a16096e63143492a93b1e7d5acf8c839ca33e5b70d551ef35028d3c20f424e.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/re8-596e9795fc01f7808e77bfbb0fa80299a3a14d54bc85844d3f3f28e29a2a5dfc.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/re8-596e9795fc01f7808e77bfbb0fa80299a3a14d54bc85844d3f3f28e29a2a5dfc.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/rs5-518b5db6691dc4c80e239f2866bfdbc4fda0c8c23a956bf24be9795200c74a63.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/rs5-518b5db6691dc4c80e239f2866bfdbc4fda0c8c23a956bf24be9795200c74a63.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>

			<div class="col-sm-3 col-xs-12 portfolio-item megento">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/property/rs6-d4de43c07938e9dab79eb139191bfce0643cbd06414b88a2215bc4e2ff11b8f9.jpg" alt=""></div> 
					<div class="mask text-center">
						<h3>Legal Properties</h3>
						<h4>Riseagroinfra Pvt Ltd</h4>
						<a href="#"><i class="fa fa-link"></i></a>
						<a href="../assets/property/rs6-d4de43c07938e9dab79eb139191bfce0643cbd06414b88a2215bc4e2ff11b8f9.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 portfolio-item html">
			<div class="view efffect">
				<div class="portfolio-image">
					<img src="../assets/other/dm6-cdce3d62b2bdf4a97a1f748eb497086abe0214a51ef15d7210bf80f81a1729b7.jpg" alt="">
				</div> 
				<div class="mask text-center">
					<h3>Dhakar Matrimonial</h3>
					<h4>Riseagroinfra Pvt Ltd</h4>
					<a href="#"><i class="fa fa-link"></i></a>
					<a href="../assets/matrimonial/ar9-e68b48a908520d96ca99606a6650e6a45e31c5cfcb94ee49d882e4ac8629088d.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
				</div>
			</div>
</div>
<div class="col-sm-3 col-xs-12 portfolio-item html">
	<div class="view efffect">
		<div class="portfolio-image">
			<img src="../assets/matrimonial/dm3-8772da72228edb3921e5c19d111b123e86257523bf118770bc3a1a832eae1f15.jpg" alt="">
		</div> 
		<div class="mask text-center">
			<h3>Dhakar Matrimonial</h3>
			<h4>Riseagroinfra Pvt Ltd</h4>
			<a href="#"><i class="fa fa-link"></i></a>
			<a href="../assets/other/ra12-af4a23cc05211a387e019430cf8cbebcef52c83ff5801a26f675322ec95f5ffe.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
		</div>
	</div>
  </div>
</div>
</div> 

</section> <!--/#portfolio-->