<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel " class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(../assets/shine/1-078648e2ada9d4c77bc8fe3632c00b2b7e318eae769f4e3feb9b9802db654245.jpg)">
 				</div>
				<div class="item" style="background-image: url(../assets/shine/4-bbe48e32d90b3b13cd012878d2ee85acea604cefd6d58010208b5c5071ffc4d0.jpg)"> 
					 
				</div> 
				<div class="item" style="background-image: url(../assets/shine/3-193d6e12d54a5642033662320bf03a901eab23a2419a1edee0add2c517d2394b.jpg)"> 
				 
			    </div>
			</div> 
		
			
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->




    <div class="contain-wrapp padding-bot50">	
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="title-head centered">
						<h4>Who we are</h4>
						<p>Shine brand is one of the leading manufacture, wholesaler and exporter of Hybrid Vegetable and field crops seeds.These are availble in market at reasonable rates.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/sh8-d3ae5735e6e43655abb2c88d93f7a1f66498d548c812fd51e3652d27bf87119d.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-briefcase fa-3x icon-circle fa-default"></i>
							<h5>OKRA/BHINDI- ADITI SUPER</h5>
							<p>
							This variety is green to darkgreen color, lenght of fruit is 12 15 cms. Tolerant to disease. Excellent yielder and good keeping quality.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/sh3-f88b7116007bd83bb70b809a480987306a106d6c37f593d7f6834cdead1ed601.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-headphones fa-3x icon-circle fa-primary"></i>
							<h5>CHILLI - F1 SHINE-820</h5>
							<p>
							Maturity 60-65 days, light green color, 10-12 cms. long, high pungent, high yielding, tolerant to major disease & perform under high temp.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/sh4-c3295c08d8b1ccfc8b0097e1307f75fea0e61a798ab0461f410ef28b2c8c7a61.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-flask fa-3x icon-circle fa-default"></i>
							<h5>MARIGOLD F1-SAMSON</h5>
							<p>
							Plant height 4 to 4.5 ft. attractive deep yellow, maturity 55 to 60 days after transplanting, good keeping quality. Tolerant to major disease & Virus.
							</p>
						</div>
					</div>
				</div>
			</div>
		    <div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/sh5-5af953afa134ac5cac24df2fc231622fca5ba07103d75f733c5ce4760474b798.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-briefcase fa-3x icon-circle fa-default"></i>
							<h5>TOMATO - F1 DRAGON</h5>
							<p>
							It is excellent hybrid varity in oblong segment, fruit color is red, fruit weight is 90 to 120 grm. Tolerant to TYLCV, TMV & high temperature. 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/sh6-1da1a841b0e9eb50d0f576ccc62c0d2ea827dd6c5bbd2a03d3321bbfcf4080d4.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-headphones fa-3x icon-circle fa-primary"></i>
							<h5>MUSTARD-SURBHI(BLACK)</h5>
							<p>
							Sowing time, Aug. Mid to Dec. end, height of plant 5.5 to 6 ft. Harvesting 90 to 110 days. Tolerant to diease & virus.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img src="../assets/shine/sh7-6469f89972881afa82d72e82c9767e21776fa791aeabe8a9e65cc87f83e47d8c.jpg" class="img-responsive" alt="">
						<div class="caption">
							<i class="fa fa-flask fa-3x icon-circle fa-default"></i>
							<h5>KALONJI - RESEARCH</h5>
							<p>
							Showing time mid Oct. to Mid Dec. end. Harvesting 100 ro 110 tolerant to diease and virus higher production.
							</p>
						</div>
					</div>
				</div>

				
			</div>
		</div>
	</div>



		

