<section class="section sec-for-team">
            <div class="container">
                <header class="section__title">
                    <h2>Riseagroinfra Pvt Ltd Team</h2>
                    <small>Individual commitment to a group effort - that is what makes a team work, a company work, a society work, a civilization work. </small>
                </header>

                <div class="row team">

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/puspa_dhakar-2f85ab015151bd614878f2e8275c82008418da47b5b1716a5d1dd03befe26314.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Puspa Devi Dhakar</h4>
                                <small>Director</small>

                                <p><b>RISEAGROINFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/kanchan_dhakar-a8ac09a56c6ee1bfa6377100a06ab4e300d3831684b53c545206c39dc8e879ea.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Kanchan Dhakar</h4>
                                <small>Director</small>

                                <p><b>RISEAGROINFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/om_dhakar-fcb10fa609e7d905ddec9c7d87f9c190b85f8c9decdb25a82dd6e59417cd5a93.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Om Dhakar</h4>
                                <small>Executive Director</small>

                                <p><b>RISEAGROINFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/chandu-e39d1ba4fffc181fd8b1998083764f571049beb28c48857ad4f3bacf8b0e0b31.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Chandrakant Dhakad</h4>
                                <small>Chief Executive Officer</small>

                                <p><b>SHINE BRAND SEEDS</b></p>

                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/reks-de5fc2c04847b837c71e0eaa49a0d157f127a41d791e267826ca09c1c12beb77.JPG" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Rekha Dhakad</h4>
                                <small>Chief Executive Officer</small>

                                <p><b>RISEDIGITECH</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/rajput-09837ec9e7def73afe90da6d9c0030b613e2ed0926b8d38eb9d0ca810dd3448e.JPG" class="team__img" alt="">

                            <div class="team__info">
                                <h4>PC Rajput</h4>
                                <small>Chief Executive Officer</small>

                                <p><b>LEGAL PROPERTIES</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>                  

                      <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/abha_rm-1adbcb4b7a90bcd923eff9d7f4c7cfc63baf6d89c207d89fd7141a1de53b9b6a.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Abha Chourasiya</h4>
                                <small>Chief Executive Officer</small>

                                <p><b>DHAKAR MATRIMONIAL</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>
                   

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/labhn-48cf2d24c9d0f53ee268bd2f2d618dad656f66aec6c89075375cb9a2315da92b.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Labh Dhakar</h4>
                                <small>Territory Manager</small>

                                <p><b>SHINE BRAND SEEDS</b></p>

                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/rahul-112b88257d5ebb442a7acb7e1ce7a27848cac7b0ccc0c3a8167ba2256f11cb16.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Rahul Dhakad</h4>
                                <small>Plant Manager</small>

                                <p><b>SHINE BRAND SEEDS</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/rahul_acc-0438d4c240d43f6466a2d5fd8fc0c7c11a8606da56053004af346eef64110141.JPG" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Rahul Nagar</h4>
                                <small>Accountant</small>

                                <p><b>RISEAGROINFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/durgesh-99777ed568f54be91e5c63c8410afecf9a3413166667f50109ad1673234c1bce.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Durgesh Golkar</h4>
                                <small>Admin </small>

                                <p><b>SHINE BRAND SEEDS</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/jitendra-70c9af932b23a85cc055b488d4b9a2e9dfe17d538bd22d831f576f936249024d.JPG" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Jitendra Patil</h4>
                                <small>Sales Executive</small>

                                <p><b>SHINE BRAND SEEDS</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/deepak-14effeb7b0b6ce43872b1c4e87756f122959902d68ff6fb4a05ee2d30a78c756.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Deepak Upadhyay</h4>
                                <small>Sales Executive</small>

                                <p><b>SHINE BRAND SEEDS</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                  


                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/divya-a97563c4dee871b1652bae0c363074224d5253ca7c9f0fd1412c2d7e6e9df408.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Divya Iswey</h4>
                                <small>HR Executive</small>

                                <p><b>RISEAGROINFRA PVT LTD</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/palak-ee4522162d2175629e33d7a14d12beae34894d77016fa560a40ad1d34f563771.JPG" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Palak Jain</h4>
                                <small>Sales Executive </small>

                                <p><b>DHAKAR MATRIMONIAL</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/mamta-4b660081089ab848fbb76d0ed0cd4d8cf3e111c4e74c11b78b69fe320ad5e2ad.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Mamta Dhaker</h4>
                                <small>Sales Executive </small>

                                <p><b>DHAKAR MATRIMONIAL</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                 

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/meena-5164281a02f7a21e42d5544700d982a74a24fe7a47a076f948be6022fa96946d.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Minakshi Jaiswal</h4>
                                <small>Sales Executive </small>

                                <p><b>DHAKAR MATRIMONIAL</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/deepak_nagar-03388e79aa7e7a4ec228fda56172229cf3b1b5a5bcf50b1e2c1d4c2a629ca2b8.png" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Deepak Nagar</h4>
                                <small>Sales Executive </small>

                                <p><b>DHAKAR MATRIMONIAL</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="team__item">
                            <img src="../assets/team/angurbala-64390ef884a07231f5836f06757d77a1ee26841b02412aae350eddf80cc1742f.jpg" class="team__img" alt="">

                            <div class="team__info">
                                <h4>Angurbala Dhakad</h4>
                                <small>Sales Executive</small>

                                <p><b>DHAKAR MATRIMONIAL</b></p>
                            </div>

                            <div class="team__social">
                                <a href="" class="zmdi zmdi-facebook mdc-bg-indigo-300"></a>
                                <a href="" class="zmdi zmdi-twitter mdc-bg-cyan-300"></a>
                                <a href="" class="zmdi zmdi-google mdc-bg-red-300"></a>
                            </div>
                        </div>
                    </div>
                    
                    

                </div>
            </div>
        </section>