
       <section class="client-testimonail-section">
 <!--   <div class="container content">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="testimonials">
                <div class="active item">
                  <blockquote><p>Denim you probably haven't heard of. Lorem ipsum dolor met consectetur adipisicing sit amet, consectetur adipisicing elit, of them jean shorts sed magna aliqua. Lorem ipsum dolor met.</p></blockquote>
                  <div class="carousel-info">
                    <img alt="" src="http://keenthemes.com/assets/bootsnipp/img1-small.jpg" class="pull-left">
                    <div class="pull-left">
                      <span class="testimonials-name">Lina Mars</span>
                      <span class="testimonials-post">Commercial Director</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div> -->



<div class="container" style="padding-top:30px">
    <h1 class="text-center head-for-client-review">Clients Say About Us</h1>
    <div class="row">
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
                <div class="testimonial-section">
                    In the field of seeds and agriculture Rise Agro Infra team did a great job. They are able to do it faster, better and cheaper
                </div>
                <div class="testimonial-desc">
                    <img src="../assets/testimonial/virendra-7ad08232425b7ca32e52db17301a055b6c3e2cb99bc0c1fe4d1072e89f0834ee.jpg" alt="">
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Virendra Pawar</div>
                        <div class="testimonial-writer-designation">Pawar krishi kendra</div>
                        <a href="#" class="testimonial-writer-company">Chhindwada</a>
                    </div>
                </div>
            </div>   
        </div>
        
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
                <div class="testimonial-section">
                    I wish to give thanks and express my appreciation to the dhakar matrimonial team providing an awesome site that facilities spiritual people meeting
                </div>
                <div class="testimonial-desc">
                    <img src="../assets/testimonial/sunil_goyal-a483d251afac0af0c19710250180a761786ada48bcddefc0b71048892f6b5878.jpg" alt="">
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Sunil Goyal </div>
                        <div class="testimonial-writer-designation">Annapurna Agro Sales</div>
                        <a href="#" class="testimonial-writer-company">Indore(MP)</a>
                    </div>
                </div>
            </div>   
        </div>
        
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
                <div class="testimonial-section">
                     Your folks truly made us feel like partners in the process. Rise Agro Infra Construction’s design/build is proactive, and uses a partnering approach that has been highly instrumental in the success of their projects
                </div>
                <div class="testimonial-desc">
                    <img src="../assets/testimonial/nitin-c2de214e06fdaca54f8e20405b622996a18a7f728a257f9a50c49349211aa17e.jpg" alt="">
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Nitin Sanghavi</div>
                        <div class="testimonial-writer-designation">Sanghavi Traders </div>
                        <a href="#" class="testimonial-writer-company">Ratlam(MP)</a>
                    </div>
                </div>
            </div>   
        </div>
        
       <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-warning-filled">
                <div class="testimonial-section">
                    These people have helped us finding a perfect home. They had worked really hard...
                </div>
                <div class="testimonial-desc">
                    <img src="../assets/testimonial/sunil_haw-dfae475976affc425b79ad569a446e91abac25fa8b875648dd077b8a601ad9ae.jpg" alt="">
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Sunil Hawadiya</div>
                        <div class="testimonial-writer-designation">Sunil Agro Sales </div>
                        <a href="#" class="testimonial-writer-company">Shajapur</a>
                    </div>
                </div>
            </div>   
        </div>  
    </div>
    <br>
    <br>
  
        
  
    </div>
</div>
 </section>
     

