<section class="main-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="logo-left">
                <a href="#"><img src="../assets/logo3-7a55b26bf4c5624d7a6a7f622a9c2d6c0184004ac8231e628a50b55fd187e81a.png" alt="logo"></a>
                <p>
                  Rise Agro Infra indore is among the leading manufacturers & Exporters of Bio-Fertilisers in Madhya Pradesh. INDIA. It is certified company, our operational profits are one of the highest in the industry. We assume market leadership in the markets we operate. Rise Agro Infra Pvt. Ltd. is growing Company, one stop solution provider of the entire planting needs for farmers...
                </p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="sutisfation">
                <img src="../assets/guarantee-410dad5a6d07cd81a3cf4211fbe2e7204c6c67d31ef83478e23a1220c5000b05.png">
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="Address">
                <h4>Contact Us</h4>
                <h3> Riseagro Infra Pvt Ltd. </h3>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 315, Third Floor, Princes Business Skypark, A.B. Road, Scheme No 54, Indore Madhya Pradesh 452001</p>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +91 731 2511220, +91 9406878037</p>
                <p><i class="fa fa-envelope" aria-hidden="true"></i> Email: <span>riseagroinfra@gmail.com</span></p>

              </div>
            </div>
          </div>
        </div>
      </section>
<footer id="footer"> 
	<div class="container"> 
		<div class="text-center"> 
			<p>Copyright &copy; 2013 - <a href="">Rise agro infra pvt. ltd.</a> | All Rights Reserved</p> 
		</div> 
	</div> 
</footer> <!--/#footer-->